*{
    padding: 0;
    margin: 0;
}
header{
    padding:  2vh 0;
    font-family: 'Open Sans', sans-serif;
    /*position: fixed;*/
    width: 100%;
    /*z-index: 999;*/
    box-sizing: border-box;
}
.fixed{
background-color: #060a0b;}
.contenedor{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.titulo-logo{
   
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.titulo-logo .logo p{
    font-size: 2em;
    font-weight: 700;
    color: #fec400;
}
.titulo-logo nav ul li{
    display: inline-block;
    list-style: none;;
}
.titulo-logo nav ul li a{
    display: block;
    padding: 0.7em;
    font-weight: 700;
    text-decoration: none;
    color: white;
    text-transform: uppercase;


}
.titulo-logo nav ul li a:hover{
    color: #fec400;
}
.saludo-contenedor{
    width: 100%;
    background: #fec400;
    padding: 8vh 0;
}
main{
    font-family: Arial, Helvetica, sans-serif;
}
.saludo{
    margin: 0 auto;    
}
.titulo-saludo {
   margin: 0 auto;
   text-align: center;
    width: 80%;
    
}
.titulo-saludo h1{
    margin-bottom: 15px;
}
.servicios{
    background: #222222;
    width: 100%;
    padding: 9vh 0;
    margin-top: 60px;
}
.servicios .cabeza-servicios{
    width: 50%;
    margin: 0 auto;
    text-align: center

}
.cabeza-servicios h1{
    color: #fec400;
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 10px;
}
.cabeza-servicios p{
    color: #fff;
}
.catalogo-servicios{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
.catalogo-servicios .producto-catalogo{
    width: 28%;
    text-align: center;
    margin-top: 50px;
}
.producto-catalogo figure{
    width: 60px;
    height: 48px;
    display: block;
    margin: 0 auto;
    background: white;
    overflow: hidden;
}
.producto-catalogo figure img{
    width: 100%;
    height: 100%;
    display: block;
    
}
.producto-catalogo  .detalle-producto{
    border: 1px solid white;
    padding: 2em;
    box-sizing: border-box;
    margin-top: 1.5em;
    color: white;
}
.producto-catalogo  .detalle-producto h5{
    margin-bottom: 10px;
    font-size: 1.2em;
}
.producto-catalogo  .detalle-producto p{
    font-size: 1em;
    color: #a9a9a9;
    line-height: 20px;
}
.nuestra-empresa{
    width: 100%;
    display: flex;
}
.nuestra-empresa .fondo-izquierdo{
    width: 50%;
}
.nuestra-empresa .fondo-izquierdo .fondo{
    display: inline-block;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}
.nuestra-empresa .fondo-izquierdo .fondo img{
    width: 100%;
}
.nuestra-empresa .lado-derecho{
    width: 50%;
    padding: 7em 0.2em 7em 4.3em;
    box-sizing: border-box;
}
.nuestra-empresa .lado-derecho .titulo-lado-derecho{
    width: 100%;
    margin-bottom: 2em;
    font-size: 1.5em;
    font-weight: lighter;
}
.nuestra-empresa .lado-derecho .parrafos-lado-derecho p {
    margin-bottom: 1em;
}
.nuestra-empresa .lado-derecho a{
    padding: 1.2em;
    display: block;
    border: 1px solid black;
    box-sizing: border-box;
    width: 40%;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}
.contenido-video{
    width: 100%;
    background-color: #222222;
    color: #a9a9a9;

}
.contenedor-contenido-video{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  flex-wrap: wrap;
    padding: 3em 0;
}
.descripcion-video{
    width: 49%;
    text-align: justify;
    box-sizing: border-box;

}
.descripcion-video h3{
    margin: 0.4em 0 0.5em 0;

}
.descripcion-video p{
    margin: 0.4em 0 0.5em 0;
    line-height:1.4em;
    
}
.video{
width: 49%;
margin: auto;

}
.marco-video{
    position: relative;
    padding-bottom: 56.25%;
    height: 0px;
    overflow: hidden;
    box-sizing: border-box;
}
.marco-video iframe{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;    
}
.portafolio{
    background-color: #222222;
    width: 100%;
}
.titulo-portafolio{
    width: 80%;
    text-align: center;
    padding-top:20px;
    padding-bottom: 20px;
    margin: 0 auto;
}
.titulo-portafolio h2{
    color: #fec400;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 30px;
}
.titulo-portafolio p{
    line-height: 18px;
    font-size: 14px;
    color: #a9a9a9;
}
.portafolio-fotos{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.portafolio-fotos .foto{
    position: relative;
width: 25%;
border: 1px solid white;
box-sizing: border-box;
}
.portafolio-fotos .foto img{
    width: 100%;
    opacity: 0.5;
}
.portafolio-fotos .foto  .marco-opaco{
position: absolute;
top: 0;
left: 0;
overflow: hidden;
width: 100%;
height: 100%;
background: #222222;
opacity: 0.7;
transition: 0.6s ease;
display: none;

}
.portafolio-fotos .foto  .marco-opaco .opaco{
    position: absolute;
    top: 30%;
    left: 35%;
    width: 30%;
    margin: auto;
   
}
.portafolio-fotos .foto  .marco-opaco .opaco img{
    width: 100%;
    text-align: center;
    opacity: 1;
}
.foto:hover .marco-opaco{
display: block;
}
.nuestro-equipo{
    background-color: #222222;
    padding:40px 5px; 

}
.contenedor-nuestro-equipo{
    width: 90%;
    margin: 50px auto;
       
}
.equipo{
    display: flex;
    justify-content: space-between;
}
.titulo-NuestroEquipo{
    margin: 10px auto 30px auto;
    text-align: center;
}
.titulo-NuestroEquipo h2{
    color: #fec400;
    font-weight: 400;
    font-size: 42px;
    margin-bottom: 10px;
}
.titulo-NuestroEquipo p{
        font-size: 14px;
        color: #a9a9a9;
}
.equipo .tarjeta-presentacion{
    width: 20%;
    text-align: center;
}
.equipo .tarjeta-presentacion figure{
    width: 70%;
    margin: 0px auto;
}
.equipo .tarjeta-presentacion figure img{
    width: 100%;
    display: block;
    margin: 10px auto 15px auto;
}
.equipo .tarjeta-presentacion figure figcaption{
    font-size: 22px;
    color: #fec400;
    font-weight: 500;
    margin-bottom: 10px;
}
.equipo .tarjeta-presentacion figure span{
    color: white;
    font-size: 14px;
    display: block;
    margin-bottom: 20px;
}
.tarjeta-presentacion p{
    color: #a9a9a9;
    font-size: 13px;
    margin-bottom: 20px;
}
.tarjeta-presentacion .rojo:hover{
    border: 1px solid red;
    background: red;

}
.tarjeta-presentacion i{
    border: 1px solid white;
    margin: 0px 5px;
    box-sizing: border-box;
    padding: 5px;
    background: white;
    opacity: 0.7;
}
.grupo-precios{
    width: 100%;
    background: #222222;

}
.grupo-precios h1{
    color: #fec400;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;

}
.grupo-precios p{
    text-align: center;
    color: #a9a9a9;
    margin-bottom: 20px;
}

.tarjetas-precios{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:80%;
    margin: auto;
}
.tarjetas-precios .contenedor-precios{
    width: 25%;    
    margin: 20px auto;
    text-align: center;
    box-sizing: border-box;
}
.tarjetas-precios .contenedor-precios2{
    width: 50%;
    margin: 20px auto;
    text-align: center;
      box-sizing: border-box;
}
.contenedor-precios .precios{
    width: 100%;
    margin: 20px auto;
    padding: 30px 15px;
    border: 2px solid white;
    box-sizing: border-box;
    height: 400px;

}
.contenedor-precios2 .precios2{
    width: 75%;
    margin: 10px auto;
    padding: 30px 15px;
    border: 2px solid white;
    box-sizing: border-box;
    height: 500px;
}

.precios h2, .precios2 h2{
    font-size: 22px;
    margin: 20px 0px;
    color: #fff;
    font-weight: 300;

}
.precios h3, .precios2 h3{
    font-size: 36px;
    font-weight: 600;
    margin: 10px 0px;
    color: #fec400;
}
.precios p, .precios2 p{
 font-size: 16px;
 margin: 20px 0px;
}
.precios ul li, .precios2 ul li{
    list-style-type: none;
    margin: 10px 0px;
    color: #a9a9a9;
    font-size: 14px;
}
.boton{
    width: 95%;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
}
.boton .registrate{
    
    width:85% ;

    text-align: center;
    
    margin: 20px auto;
    
    
    box-sizing: border-box;
}
.registrate a{
    display: block;
    color: white;
text-decoration: none;
font-size: 16px;
padding:10px 10px;
background: red;
}

.registrate a:hover{
    background: #ff88ff;
}


@media screen and (max-width:570px){
    .equipo{
        display: flex;
        flex-direction: column;
    }
    .equipo .tarjeta-presentacion{
        width: 100%;
        margin-bottom: 10px;
        border-bottom: 3px solid white;
        padding-bottom: 10px;
        box-sizing:border-box ;
        
    
    }
  
}

